@charset "UTF-8";
main {
  padding-bottom: 95px; }

.contact-information {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  padding-top: 30px;
  padding-left: 35px;
  padding-right: 35px; }

.contact-information-title h4, .contact-information-comments h4, .cart-items-title h4 {
  color: #222222;
  font-weight: bold;
  text-transform: uppercase; }

.contact-information-title {
  margin-bottom: 40px; }

.contact-information-comments h4, .cart-items-title {
  margin-bottom: 13px; }

.contact-information-container {
  display: flex;
  flex-wrap: wrap; }
  .contact-information-container input, .contact-information-container textarea {
    width: 75%;
    height: 33px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #e9e9e9; }
  .contact-information-container textarea {
    height: 63px; }

.contact-information-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 35px;
  font-size: 14px;
  color: #222222; }
  .contact-information-item label span {
    color: #D22C00; }

.contact-information-comments {
  width: 100%; }

.contact-information-btn {
  margin-top: 42px;
  margin-bottom: 55px; }
  .contact-information-btn .BTN {
    padding: 10px 55px; }

.cart-items-container {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1); }

.cart-item-table {
  display: flex;
  justify-content: space-between; }
  .cart-item-table div {
    margin-right: 10px;
    margin-left: 12px; }

.cart-items-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #DDDDDD;
  padding: 10px 0; }
  .cart-items-item .cart-items-item-img {
    width: 18%; }
  .cart-items-item .cart-items-item-description {
    width: 28%; }
  .cart-items-item .cart-items-item-price, .cart-items-item .cart-items-item-sum {
    width: 18%;
    line-height: 15px; }
  .cart-items-item .cart-items-item-count {
    width: 15%; }
    .cart-items-item .cart-items-item-count input {
      text-align: center;
      background-color: transparent;
      width: 75%;
      height: 40px;
      border-color: #DDDDDD;
      border-style: solid;
      border-width: 1px; }
    .cart-items-item .cart-items-item-count .number-wrapper {
      position: relative; }
    .cart-items-item .cart-items-item-count .number-wrapper::after, .cart-items-item .cart-items-item-count .number-wrapper::before {
      position: absolute;
      right: 1px;
      width: 15px;
      height: 12px;
      font-size: 10px;
      pointer-events: none;
      background: #fff;
      color: black;
      text-align: center; }
    .cart-items-item .cart-items-item-count .number-wrapper::after {
      content: "▲";
      top: 0; }
    .cart-items-item .cart-items-item-count .number-wrapper::before {
      content: "▼";
      bottom: 0; }
  .cart-items-item .BTN.delete {
    top: 40%; }

.cart-items-item-price {
  padding-left: 10px;
  border-left: 1px solid #DDDDDD; }

.cart-items-sum {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 17px;
  line-height: 15px;
  color: #222222;
  font-weight: bold; }
  .cart-items-sum span {
    margin-left: 5px;
    font-size: 36px;
    color: #9575CD; }

/*# sourceMappingURL=cart.css.map */
