@charset "UTF-8";
.product-mobile-filter {
  color: #66B934;
  border-radius: 5px; }

.category-filter {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1%; }
  .category-filter .category-filter-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 16px;
    margin-right: 1%;
    width: 19%;
    height: 215px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    transition: 0.4s; }
    .category-filter .category-filter-item:hover, .category-filter .category-filter-item:focus {
      box-shadow: none;
      border-color: #E1E5EE;
      border-style: solid;
      border-width: 1px; }
    .category-filter .category-filter-item .category-filter-item-img {
      width: 100%; }
    .category-filter .category-filter-item .category-filter-item-name {
      max-height: 45%;
      font-size: 16px;
      padding: 0 20px;
      color: #222222;
      font-weight: bold; }

.product-content {
  margin-top: 53px;
  padding-bottom: 52px; }

.product-content-view {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px; }

.product-content-view-interface a {
  margin-right: 30px;
  font-size: 14px;
  color: #686868; }
  .product-content-view-interface a svg {
    color: #000000;
    margin-right: 5px; }
  .product-content-view-interface a.active svg {
    color: #9F9F9F; }

.product-content-view-display {
  color: #9F9F9F; }
  .product-content-view-display select {
    background: none;
    height: 26px;
    border-radius: 5px;
    border: 1px solid #C7C7C7;
    font-size: 14px;
    color: #9F9F9F; }
  .product-content-view-display .sort {
    margin-right: 30px; }

.product-content-filter {
  padding: 10px 15px; }

.product-filter {
  border-radius: 5px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1); }

.product-filter-item {
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #9575CD; }
  .product-filter-item:last-child {
    border-bottom: 1px dashed transparent; }

.filter-item-title {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 18px;
  color: #222222;
  font-weight: bold;
  margin-bottom: 15px;
  cursor: pointer; }
  .filter-item-title svg {
    transition: 0.4s;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .filter-item-title.closed svg {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

/*Filter-Price */
.filter-item-price {
  display: flex;
  justify-content: space-between; }

.filter-item-price input {
  background: #ffffff;
  color: #000000;
  width: 70px;
  text-align: center;
  border-color: #DDDDDD;
  border-style: solid;
  border-width: 1px; }

/* Контейнер слайдера */
.ui-slider {
  position: relative;
  margin: 20px 5px; }

/* Ползунок */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 14px;
  height: 14px;
  background: #66B934;
  border-radius: 10px;
  cursor: pointer; }

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  overflow: hidden; }

/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
  height: 5px; }

/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
  top: -5px;
  margin-left: -6px; }

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.ui-slider-horizontal .ui-slider-range-min {
  left: 0; }

.ui-slider-horizontal .ui-slider-range-max {
  right: 0; }

/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
  background: #E1E5EE; }

/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {
  background: #686868; }

/* скругление для полосы слайдера */
.ui-corner-all {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.filter-item-checkbox {
  display: block; }
  .filter-item-checkbox input {
    display: none; }
    .filter-item-checkbox input:checked + label .checkbox-circle::before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background-color: #000000;
      margin: 2px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border-color: #C7C7C7;
      border-style: solid;
      border-width: 1px; }
  .filter-item-checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer; }
  .filter-item-checkbox .checkbox-circle {
    display: block;
    width: 14px;
    height: 14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border-color: #C7C7C7;
    border-style: solid;
    border-width: 1px;
    margin-right: 10px; }

.product-content-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0; }
  .product-content-items .product-slider-slide-container {
    width: 33%; }
  .product-content-items .product-slide-price {
    width: 100%; }
  .product-content-items .product-slide-btn {
    padding: 10px 36px; }

.product-slide-block {
  text-align: center;
  width: 70%; }

.product-content-items.string .product-slider-slide-container {
  width: 100%; }
.product-content-items.string .product-slider-slide {
  flex-direction: row;
  padding: 0; }
.product-content-items.string .product-slide-img {
  width: 20%; }
.product-content-items.string .product-slide-name {
  width: 35%; }
.product-content-items.string .product-slide-price {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px; }
.product-content-items.string .product-slide-block {
  border-left: 1px solid #DDDDDD;
  padding-bottom: 17px;
  width: 45%; }

.product-content-pagination {
  display: flex;
  margin-left: auto;
  margin-right: 15px;
  margin-top: 32px; }

.pagination-item {
  margin-left: 20px; }
  .pagination-item:first-child .pagination-link, .pagination-item:last-child .pagination-link {
    background-color: #66B934;
    color: #ffffff; }

.pagination-link {
  position: relative;
  display: block;
  padding: 10px 16px;
  margin-left: -1px;
  border-color: #dee2e6;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .pagination-link:hover, .pagination-link:focus, .pagination-link:active {
    box-shadow: 0px 6px 18px rgba(52, 52, 52, 0.2); }

.product-description {
  background-color: #F7F7F7;
  padding-top: 53px;
  padding-bottom: 53px; }

.product-description-background {
  background-color: #ffffff;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 63px; }

.product-description-title {
  color: #000000;
  display: inline-flex;
  align-items: center;
  padding: 60px 0;
  width: 100%; }
  .product-description-title .product-description-title-block {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-right: -80px; }

.product-description-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.product-description-text {
  width: 55%; }

.product-description-img {
  width: 35%;
  min-height: 350px;
  background-repeat: no-repeat;
  background-size: cover; }

/*# sourceMappingURL=catalog.css.map */
