@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Semibold.ttf");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Italic.ttf");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiboldItalic.ttf");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic; }
html, body {
  font-family: "OpenSans", sans-serif;
  line-height: 1.2; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0; }

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 26px; }

h3, .h3 {
  font-size: 18px; }

h4, .h4 {
  font-size: 16px; }

h5, .h5 {
  font-size: 15px; }

h6, .h6 {
  font-size: 14px; }

.lead {
  font-size: 16px;
  line-height: 1.5; }

a {
  outline: none;
  color: inherit; }
  a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

*:hover, *:active, *:focus {
  outline: none; }

.breadcrumbs-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 28px 0; }
  .breadcrumbs-nav .breadcrumbs-nav-item {
    font-size: 15px;
    color: #222222; }
    .breadcrumbs-nav .breadcrumbs-nav-item svg {
      color: #9575CD;
      margin-right: 10px; }
    .breadcrumbs-nav .breadcrumbs-nav-item::after {
      content: "/";
      padding: 0 5px; }
    .breadcrumbs-nav .breadcrumbs-nav-item.active {
      color: #919498; }

.BTN {
  color: #ffffff;
  background-color: #66B934;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .BTN:hover, .BTN:focus, .BTNactive {
    color: #ffffff;
    cursor: pointer;
    background-color: #529D24;
    box-shadow: 0 0 0 transparent; }

.BTN.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11px;
  right: 11px;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 10px;
  line-height: 21px; }

.BTN.white {
  color: #66B934;
  background-color: #ffffff;
  border-color: #66B934;
  border-style: solid;
  border-width: 1px;
  font-weight: normal; }
  .BTN.white:hover, .BTN.white:focus, .BTN.white:active {
    color: #ffffff;
    background-color: #529D24; }

.decor-circle {
  background-color: #9575CD;
  display: block;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding-top: 2px;
  padding-left: 2px;
  margin-left: 9px; }
  .decor-circle::before {
    content: " ";
    width: 4px;
    display: block;
    height: 4px;
    background-color: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

.decor-dashed {
  width: 100%;
  border-bottom: 1px dashed #9575CD; }

/*GO TOP */
.go_top_block {
  position: fixed;
  cursor: pointer;
  right: 30px;
  top: 50%;
  text-align: center;
  height: 87px;
  display: none; }

.go_top_block > p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #66B934;
  text-align: center; }

.go_top_btn {
  width: 36px;
  height: 53px;
  border-radius: 18px;
  background-color: #66B934;
  border: 2px solid transparent;
  margin: auto; }
  .go_top_btn::after {
    content: " ";
    display: inline-block;
    position: absolute;
    background: url(../img/go_top.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    right: 35%;
    top: 18px; }
  .go_top_btn:hover, .go_top_btn:focus {
    background-color: #529D24;
    border: 2px solid transparent; }
    .go_top_btn:hover + p, .go_top_btn:focus + p {
      color: #529D24; }

.header-top {
  border-bottom: 1px dashed #9575CD; }
  .header-top .header-top-menu {
    display: inline-block; }

.header-top a {
  display: block;
  font-size: 14px;
  color: #222222;
  text-align: right;
  padding: 20px 0 15px 0; }

.header-top-menu.right {
  float: right; }

.header-top-menu-item {
  display: inline-block;
  right: 0;
  margin-right: 40px; }

.header-top-menu svg {
  font-size: 14px;
  color: #9575CD;
  margin-right: 10px; }

.header-top-menu-item.phone svg {
  transform: rotate(90deg); }

.header-top-menu-item.lang {
  margin-right: 0;
  position: relative; }
  .header-top-menu-item.lang .passive-lang {
    position: absolute;
    padding: 5px 0;
    display: none; }
  .header-top-menu-item.lang:hover svg, .header-top-menu-item.lang:focus svg {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: 0.4s; }
  .header-top-menu-item.lang:hover .passive-lang, .header-top-menu-item.lang:hover .passive-lang > span, .header-top-menu-item.lang:focus .passive-lang, .header-top-menu-item.lang:focus .passive-lang > span {
    display: block;
    z-index: 10; }
    .header-top-menu-item.lang:hover .passive-lang svg, .header-top-menu-item.lang:hover .passive-lang > span svg, .header-top-menu-item.lang:focus .passive-lang svg, .header-top-menu-item.lang:focus .passive-lang > span svg {
      display: none; }

.header-top-menu-item.lang svg {
  margin-right: 0;
  margin-left: 4px; }

.header-top-menu-item:hover, .header-top-menu-item:focus, .header-top-menu-item:active {
  color: #686868; }
  .header-top-menu-item:hover svg, .header-top-menu-item:focus svg, .header-top-menu-item:active svg {
    color: #C9B2F1; }

.header-main {
  padding: 20px 0; }

.header-main-item.search form {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 530px; }

.header-main-item.search .search-field {
  width: 100%;
  height: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #F7F7F7;
  padding-left: 21px;
  padding-right: 53px; }

.header-main-item.search .BTN {
  width: 53px;
  height: 44px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../img/search-solid.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center; }

.header-main-item.basket {
  position: relative;
  text-align: end; }

.header-main-item.basket .basket-img {
  display: inline-block; }
  .header-main-item.basket .basket-img:hover, .header-main-item.basket .basket-img:focus, .header-main-item.basket .basket-imgactive {
    cursor: pointer; }

.header-main-item.basket .basket-item-count {
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding-top: 2px;
  font-size: 15px;
  line-height: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
  font-weight: bold;
  background-color: #66B934;
  width: 18px;
  height: 18px; }

.header-main-item.basket .basket-items {
  display: none;
  position: absolute;
  right: 0;
  z-index: 10;
  width: 272px;
  background-color: #ffffff;
  box-shadow: 0px 7px 16px rgba(48, 48, 48, 0.21); }

.header-main-item.basket:hover .basket-items {
  display: block; }

.basket-items .basket-items-item {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 12px 84px 12px 0;
  font-size: 15px;
  line-height: 19px;
  color: #222222;
  box-shadow: 0px 7px 16px rgba(48, 48, 48, 0.21); }

.basket-items .basket-items-item-img {
  margin: 0 16px; }

.basket-items .basket-items-item-info span {
  font-size: 16px;
  line-height: 12px;
  color: #222222;
  font-weight: bold;
  text-align: right; }

.basket-items .basket-items-price {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 68px;
  box-shadow: 0px 1px 1px rgba(48, 48, 48, 0.21);
  font-size: 15px;
  color: #000000; }
  .basket-items .basket-items-price .sum {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.basket-items .basket-items-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding: 13px 0; }
  .basket-items .basket-items-btn .BTN {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 0 30px; }

.header-filter-background {
  font-size: 16px;
  color: #ffffff;
  font-weight: 800;
  background-color: #66B934;
  padding: 10px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }

.header-filter-container {
  display: flex;
  flex-wrap: wrap; }

.header-filter-item {
  display: inline-flex;
  justify-content: center; }

.switch {
  position: relative;
  display: inline-flex;
  width: 46px;
  height: 24px;
  margin: 0 0 0 10px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    transition: 0.4s; }

input:checked + .slider {
  background-color: #B9E836; }
  input:checked + .slider:before {
    -moz-transform: translate(22px);
    -o-transform: translate(22px);
    -ms-transform: translate(22px);
    -webkit-transform: translate(22px);
    transform: translate(22px); }

input:focus + .slider {
  box-shadow: 0 0 1px #B9E836; }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }
  .slider.round:before {
    border-radius: 50%; }

.header-nav {
  background-color: #9575CD; }

.header-mobile-nav, .header-mobile-filter, .product-mobile-filter {
  display: none;
  justify-content: space-between;
  margin: 0 21px;
  padding: 20px 0;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.4s; }
  .header-mobile-nav svg, .header-mobile-filter svg, .product-mobile-filter svg {
    font-size: 20px;
    transition: 0.4s; }
  .header-mobile-nav .fa-minus, .header-mobile-filter .fa-minus, .product-mobile-filter .fa-minus {
    display: none; }
  .header-mobile-nav.opened .fa-plus, .header-mobile-filter.opened .fa-plus, .product-mobile-filter.opened .fa-plus {
    display: none; }
  .header-mobile-nav.opened .fa-minus, .header-mobile-filter.opened .fa-minus, .product-mobile-filter.opened .fa-minus {
    display: block; }
  .header-mobile-nav.opened .fa-chevron-down, .header-mobile-filter.opened .fa-chevron-down, .product-mobile-filter.opened .fa-chevron-down {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.header-mobile-filter {
  padding: 10px 0; }

.header-mobile-search {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 52px;
  height: 43px;
  background-color: #66B934;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.header-nav-menu {
  display: flex;
  position: relative; }
  .header-nav-menu li.header-nav-menu-group {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    line-height: 14px;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    padding: 12px 0;
    border-left: 1px solid #ffffff; }
    .header-nav-menu li.header-nav-menu-group:last-child {
      border-right: 1px solid #ffffff; }
    .header-nav-menu li.header-nav-menu-group a:hover, .header-nav-menu li.header-nav-menu-group a:focus, .header-nav-menu li.header-nav-menu-group aactive {
      cursor: pointer; }

.header-nav-menu-group-block {
  display: none;
  flex-wrap: wrap;
  position: absolute;
  top: 100%;
  background-color: #9575CD;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 2px 2px 4px #ffffff;
  -moz-box-shadow: 2px 2px 4px #ffffff;
  box-shadow: 2px 2px 4px #ffffff;
  padding-top: 30px;
  z-index: 8; }

.header-nav-menu-group:hover .header-nav-menu-group-block {
  display: inline-flex; }

.header-nav-menu-item {
  position: relative;
  flex: 33%;
  min-width: 33%;
  max-width: 33%;
  flex-wrap: wrap;
  line-height: 19px; }
  .header-nav-menu-item > div {
    padding: 0 137px 30px 25px;
    text-align: left;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase; }

.header-nav-menu-item svg {
  position: absolute;
  top: 0;
  right: 115px;
  transition: 0.4s;
  cursor: pointer; }

.header-nav-menu-item-info {
  display: none;
  font-size: 15px;
  line-height: 19px;
  font-weight: normal;
  color: #ffffff;
  text-align: left;
  padding-left: 30px;
  padding-bottom: 30px; }

.header-nav-menu-item.opened svg {
  transform: rotate(180deg); }

.header-nav-menu-item-subinfo {
  padding-left: 20px; }

.main-slider {
  width: 100%;
  padding-bottom: 60px; }

.main-slider-slide {
  position: relative;
  padding-bottom: 370px;
  width: 100%;
  background-size: cover;
  background-position: right bottom;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35); }

.main-slider-container {
  width: 100%;
  height: 100%; }

.main-slider-content {
  position: absolute;
  bottom: 0;
  padding-left: 100px;
  padding-bottom: 80px;
  line-height: 40px; }

.main-slider-text {
  font-size: 36px;
  color: #ffffff;
  font-weight: 800;
  margin-bottom: 30px; }
  .main-slider-text .h1 {
    font-weight: 800; }
  .main-slider-text .h2 {
    font-weight: 300; }

.main-slider-sail {
  display: inline-flex; }
  .main-slider-sail .h2 {
    font-size: 23px; }
  .main-slider-sail .sail-sum {
    font-size: 56px;
    line-height: 50px; }

.main-slider-btn {
  padding: 13px 31px;
  border-color: #A2E803;
  border-style: solid;
  border-width: 2px; }

.main-slider-slick_arrow {
  z-index: 6;
  position: absolute;
  top: 40%;
  color: #ffffff;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main-slider-slick_arrow.prev {
    left: 9%; }
  .main-slider-slick_arrow.next {
    right: 9%; }
  .main-slider-slick_arrow:hover, .main-slider-slick_arrow:focus {
    cursor: pointer; }

.slick-dots {
  bottom: 36px; }

.slick-dots li button {
  width: 22px;
  height: 22px;
  cursor: pointer;
  color: transparent;
  background: transparent; }

li.slick-active button {
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border-top: 0px solid transparent;
  border-right: 0px solid transparent; }

.slick-dots li button:before {
  width: 8px;
  height: 8px;
  content: "";
  opacity: 1;
  margin: 7px;
  background-color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.product-slider-name {
  text-transform: uppercase;
  color: #000000;
  display: inline-flex;
  align-items: center;
  padding: 19px 0; }
  .product-slider-name h4 {
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 800; }

.product-slider {
  padding-bottom: 34px; }
  .product-slider .slick-slider {
    margin: 0 -15px; }

.product-slider-slide-container {
  padding: 10px 15px; }

.slick_arrow {
  z-index: 6;
  position: absolute;
  top: 40%;
  color: #9575CD;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.15);
  background-color: #ffffff; }
  .slick_arrow.prev {
    left: -15px; }
  .slick_arrow.next {
    right: -15px; }
  .slick_arrow:hover, .slick_arrow:focus {
    cursor: pointer; }

.product-slider-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  padding-bottom: 17px;
  transition: 0.4s; }
  .product-slider-slide:hover, .product-slider-slide:focus {
    box-shadow: none;
    border-color: #E1E5EE;
    border-style: solid;
    border-width: 1px; }

.product-slide-img img {
  width: 100%; }

.product-slide-name {
  height: 40px;
  overflow: hidden;
  padding: 0 15px;
  font-size: 15px;
  line-height: 19px;
  color: #222222;
  text-align: center; }

.product-slide-price {
  width: 80%;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;
  color: #222222;
  font-weight: bold;
  margin-top: 15px;
  border-top: 1px solid #E1E5EE;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .product-slide-price span {
    color: #686868;
    font-size: 14px; }

.product-slide-btn {
  padding: 0 36px; }

.background-75 {
  background: linear-gradient(0deg, #F7F7F7 75%, transparent 25%); }

.info-slider-name {
  text-transform: uppercase;
  color: #000000;
  display: inline-flex;
  align-items: center;
  padding: 19px 0; }
  .info-slider-name h4 {
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 800; }

.info-slider {
  padding-bottom: 49px;
  background-color: #F7F7F7; }
  .info-slider .info-slider-container {
    margin: 0 -15px;
    padding-top: 26px;
    padding-bottom: 49px;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap; }

.info-slider-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 0 30px; }
  .info-slider-slide .info-slide-content {
    text-align: center;
    margin-top: 33px; }

.info-slide-img a {
  display: block;
  width: 85px;
  height: 85px;
  box-shadow: 0 21px 20px #DDDDDD;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #9575CD;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4s; }
  .info-slide-img a:hover, .info-slide-img a:focus {
    background-color: #7C5AB7;
    box-shadow: 0 0 0 transparent; }

.info-slide-name {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase; }

.info-slide-text {
  font-size: 15px;
  color: #6D757D;
  font-weight: 300;
  margin-top: 10px; }

.more-info {
  display: flex; }
  .more-info .BTN {
    padding: 0 36px; }

footer {
  background-color: #191C24;
  padding-top: 65px;
  background-image: url("../img/footer-bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 88%; }

.footer-container {
  justify-content: space-between; }

.footer-description {
  margin-top: 15px;
  padding-right: 15px;
  font-size: 14px;
  line-height: 24px; }

.footer-content {
  color: #ffffff; }
  .footer-content.contacts {
    margin-left: -60px; }

.footer-content-title {
  font-size: 18px;
  letter-spacing: 0px;
  font-weight: bold; }
  .footer-content-title .fa-plus, .footer-content-title .fa-minus {
    display: none;
    margin-left: 20px; }

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .footer-menu .footer-menu-item {
    max-width: 45%;
    min-width: 35%; }

.footer-content-item {
  position: relative;
  font-size: 15px;
  margin-top: 24px;
  width: 264px; }
  .footer-content-item a:hover, .footer-content-item a:focus, .footer-content-item a:active {
    color: #529D24; }

.footer-content-contact {
  margin-top: 10px;
  line-height: 42px; }

.footer-email-input {
  padding-left: 14px;
  padding-right: 78px;
  width: 100%;
  height: 35px;
  background-color: #32353e;
  color: #858C9E;
  border: none; }

.footer-email-submit {
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  line-height: 20px;
  font-weight: bold;
  padding: 0 26px;
  height: 100%;
  background-color: #66B934;
  border-color: #A2E803;
  border-style: solid;
  border-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.footer-social svg {
  margin-right: 28px;
  font-size: 26px;
  color: #9575CD; }

.footer-copyright {
  background-color: #9575CD;
  padding: 5px 0;
  margin-top: 78px;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  text-align: center; }

/*# sourceMappingURL=global.css.map */
