.item-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.item-container-content {
  display: flex;
  flex-wrap: wrap; }

.item-container-galery {
  width: 430px; }
  .item-container-galery .slider-for {
    height: 366px;
    overflow: hidden;
    border-color: #E1E5EE;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  .item-container-galery .slider-nav {
    margin-left: -10px;
    margin-right: -10px; }
    .item-container-galery .slider-nav .slick-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin: 0 10px;
      margin-top: 30px;
      width: 110px;
      height: 110px;
      border-color: #E1E5EE;
      border-style: solid;
      border-width: 1px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
  .item-container-galery .slick-arrow {
    top: -55%; }
    .item-container-galery .slick-arrow.prev {
      left: 25px; }
    .item-container-galery .slick-arrow.next {
      left: 100px; }

.item-container-info {
  margin-left: 30px;
  width: 430px; }
  .item-container-info .item-container-name {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px; }
  .item-container-info .item-container-availability {
    font-size: 16px;
    line-height: 20px;
    color: #A2E803;
    margin-bottom: 20px; }
  .item-container-info .item-container-price {
    font-size: 22px;
    letter-spacing: 0px;
    font-weight: 300;
    margin-bottom: 20px; }
    .item-container-info .item-container-price span {
      font-size: 30px;
      color: #9575CD;
      font-weight: bold; }
  .item-container-info .item-container-brand {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 38px; }
    .item-container-info .item-container-brand a {
      text-decoration: underline; }
  .item-container-info .item-container-btn {
    margin-top: 27px; }
    .item-container-info .item-container-btn .BTN {
      padding: 15px 72px; }
    .item-container-info .item-container-btn .BTN.white {
      padding: 15px 55px; }
  .item-container-info .item-container-credit {
    margin-top: 30px;
    padding: 46px 0; }
    .item-container-info .item-container-credit a {
      color: #66B934; }

.item-container-function {
  border-radius: 7px;
  border-color: #DDDDDD;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 35px; }

.function-block {
  padding: 15px 0; }
  .function-block .function-img, .function-block .function-name {
    display: block;
    text-align: center; }
    .function-block .function-img:hover, .function-block .function-img:hover + .function-name, .function-block .function-img:focus, .function-block .function-img:focus + .function-name, .function-block .function-name:hover, .function-block .function-name:hover + .function-name, .function-block .function-name:focus, .function-block .function-name:focus + .function-name {
      color: #529D24; }

.item-description {
  margin-top: 50px;
  margin-bottom: 40px;
  border-color: #DDDDDD;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .item-description .nav-tabs {
    margin: 0 15px; }
    .item-description .nav-tabs li {
      margin-right: 66px;
      font-size: 18px;
      letter-spacing: 0px;
      color: #000000;
      font-weight: bold;
      padding: 17px 0; }
      .item-description .nav-tabs li > a {
        padding: 17px 0; }
        .item-description .nav-tabs li > a.active {
          border-bottom: 3px solid #A2E803; }
  .item-description .tab-content {
    margin: 0px 15px; }
    .item-description .tab-content .allotment {
      font-size: 16px;
      line-height: 27px;
      color: #9575CD;
      font-weight: bold; }
    .item-description .tab-content .tab-pane {
      padding-bottom: 55px; }
      .item-description .tab-content .tab-pane .item-description-content {
        padding-bottom: 40px;
        padding-top: 30px;
        border-bottom: 1px solid #DDDDDD; }
        .item-description .tab-content .tab-pane .item-description-content p {
          margin: 0; }

.product-slider {
  margin-bottom: 90px; }

/*# sourceMappingURL=item.css.map */
