//Project Colors

$Lime: #A2E803
$Pear: #B9E836
$Apple: #66B934
$Olive_Drab: #529D24
$Grenadier : #D22C00
$Moon_Raker: #C9B2F1
$Lilac_Bush: #9575CD
$Studio: #7C5AB7
$White: #ffffff
$Alabaster: #F7F7F7
$Mystic: #E1E5EE
$Silver: #C7C7C7
$Manatee: #858C9E
$Alto: #DDDDDD
$Oslo_Gray: #919498
$Silver_Chalice: #9F9F9F
$Pale_Sky: #6D757D
$Dove_Gray: #686868
$Mine_Shaft: #222222 //rgb(34,34,34), //rgb(54,54,54)
$Shark: #191C24
$Black: #000000

// Text overflow
@mixin overflow()
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

// Generic border-radius
@mixin border-radius($b_r: 5px)
  -webkit-border-radius: $b_r
  -moz-border-radius: $b_r
  border-radius: $b_r

// Generic border

@mixin borber($b_c, $b_s: solid, $b_w: 1px)
  border-color: $b_c
  border-style: $b_s
  border-width: $b_w

// Generic transform
@mixin transform($transforms)
  -moz-transform: $transforms
  -o-transform: $transforms
  -ms-transform: $transforms
  -webkit-transform: $transforms
  transform: $transforms

// rotate
@mixin rotate ($deg)
  @include transform(rotate(#{$deg}deg))


// scale
@mixin scale($scale)
  @include transform(scale($scale))

// translate
@mixin translate ($x, $y)
  @include transform(translate($x, $y))

// skew
@mixin skew ($x, $y)
  @include transform(skew(#{$x}deg, #{$y}deg))

//transform origin
@mixin transform-origin ($origin)
  moz-transform-origin: $origin
  -o-transform-origin: $origin
  -ms-transform-origin: $origin
  -webkit-transform-origin: $origin
  transform-origin: $origin