@import "ruls"

main
  padding-bottom: 95px

.contact-information
  box-shadow: 0px 6px 20px rgba(0,0,0,0.1)
  padding-top: 30px
  padding-left: 35px
  padding-right: 35px

.contact-information-title, .contact-information-comments, .cart-items-title
  & h4
    color: $Mine_Shaft
    font-weight: bold
    text-transform: uppercase
.contact-information-title
  margin-bottom: 40px
.contact-information-comments h4, .cart-items-title
  margin-bottom: 13px

.contact-information-container
  display: flex
  flex-wrap: wrap
  & input, & textarea
    width: 75%
    height: 33px
    border-radius: 5px
    background-color: #f9f9f9
    border: 1px solid #e9e9e9
  & textarea
    height: 63px

.contact-information-item
  width: 50%
  display: flex
  flex-direction: column
  justify-content: center
  margin-bottom: 35px
  font-size: 14px
  color: $Mine_Shaft
  & label span
    color: $Grenadier

.contact-information-comments
  width: 100%

.contact-information-btn
  margin-top: 42px
  margin-bottom: 55px
  & .BTN
    padding: 10px 55px

.cart-items-container
  box-shadow: 0px 6px 20px rgba(0,0,0,0.1)

.cart-item-table
  display: flex
  justify-content: space-between
  & div
    margin-right: 10px
    margin-left: 12px

.cart-items-item
  position: relative
  display: flex
  align-items: center
  justify-content: center
  border-top: 1px solid $Alto
  padding: 10px 0
  & .cart-items-item-img
    width: 18%
  & .cart-items-item-description
    width: 28%
  & .cart-items-item-price, & .cart-items-item-sum
    width: 18%
    line-height: 15px
  & .cart-items-item-count
    width: 15%
    & input
      text-align: center
      background-color: transparent
      width: 75%
      height: 40px
      @include borber($Alto)
    & .number-wrapper
      position: relative
    & .number-wrapper::after, & .number-wrapper::before
      position: absolute
      right: 1px
      width: 15px
      height: 12px
      font-size: 10px
      pointer-events: none
      background: #fff
      color: black
      text-align: center
    & .number-wrapper::after
      content: "\25B2"
      top: 0
    & .number-wrapper::before
      content: "\25BC"
      bottom: 0
  & .BTN.delete
    top: 40%

.cart-items-item-price
  padding-left: 10px
  border-left: 1px solid $Alto

.cart-items-sum
  display: flex
  justify-content: center
  margin-top: 40px
  font-size: 17px
  line-height: 15px
  color: $Mine_Shaft
  font-weight: bold
  &  span
    margin-left: 5px
    font-size: 36px
    color: $Lilac_Bush