@import "ruls"

.product-mobile-filter
  color: $Apple
  border-radius: 5px

.category-filter
  display: flex
  flex-wrap: wrap
  margin-right: -1%
  & .category-filter-item
    display: flex
    flex-direction: column
    justify-content: space-around
    text-align: center
    margin-bottom: 16px
    margin-right: 1%
    width: 19%
    height: 215px
    border-radius: 5px
    background-color: $White
    box-shadow: 0px 6px 20px rgba(0,0,0,0.1)
    @include borber(transparent)
    overflow: hidden
    transition: .4s
    &:hover, &:focus
      box-shadow: none
      @include borber($Mystic, solid, 1px)
    & .category-filter-item-img
      width: 100%
    & .category-filter-item-name
      max-height: 45%
      font-size: 16px
      padding: 0 20px
      color: $Mine_Shaft
      font-weight: bold

.product-content
  margin-top: 53px
  padding-bottom: 52px

.product-content-view
  display: flex
  justify-content: space-between
  margin-bottom: 15px

.product-content-view-interface a
  margin-right: 30px
  font-size: 14px
  color: $Dove_Gray
  & svg
    color: $Black
    margin-right: 5px
  &.active svg
    color: $Silver_Chalice

.product-content-view-display
  color: $Silver_Chalice
  & select
    background: none
    height: 26px
    border-radius: 5px
    border: 1px solid $Silver
    font-size: 14px
    color: $Silver_Chalice
  & .sort
    margin-right: 30px

.product-content-filter
  padding: 10px 15px

.product-filter
  border-radius: 5px
  box-shadow: 0px 6px 20px rgba(0,0,0,0.1)

.product-filter-item
  padding-top: 30px
  padding-left: 15px
  padding-right: 15px
  padding-bottom: 20px
  border-bottom: 1px dashed $Lilac_Bush
  &:last-child
    border-bottom: 1px dashed transparent

.filter-item-title
  display: flex
  justify-content: space-between
  font-size: 18px
  letter-spacing: 0
  line-height: 18px
  color: $Mine_Shaft
  font-weight: bold
  margin-bottom: 15px
  cursor: pointer
  & svg
    transition: .4s
    @include transform(rotate(#{180}deg))
  &.closed svg
    @include transform(rotate(#{0}deg))

/*Filter-Price*/

.filter-item-price
  display: flex
  justify-content: space-between


.filter-item-price input
  background: $White
  color: $Black
  width: 70px
  text-align: center
  @include borber($Alto)



/* Контейнер слайдера */
.ui-slider
  position: relative
  margin: 20px 5px
/* Ползунок */
.ui-slider .ui-slider-handle
  position: absolute
  z-index: 2
  width: 14px   /* Задаем нужную ширину */
  height: 14px  /* и высоту */
  background: $Apple /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
  border-radius: 10px
  cursor: pointer

.ui-slider .ui-slider-range
  position: absolute
  z-index: 1
  font-size: .7em
  display: block
  border: 0
  overflow: hidden

/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal
  height: 5px /* задаем высоту согласно дизайна */

/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle
  top: -5px
  margin-left: -6px

.ui-slider-horizontal .ui-slider-range
  top: 0
  height: 100%

.ui-slider-horizontal .ui-slider-range-min
  left: 0

.ui-slider-horizontal .ui-slider-range-max
  right: 0

/* оформление полосы по которой ходит ползунок */
.ui-widget-content
  background: $Mystic
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header
  background: $Dove_Gray

/* скругление для полосы слайдера */
.ui-corner-all
  @include border-radius(4px)

.filter-item-checkbox
  display: block
  & input
    display: none
    &:checked + label .checkbox-circle::before
      content: ""
      display: block
      width: 8px
      height: 8px
      background-color: $Black
      margin: 2px
      @include border-radius(50%)
      @include borber($Silver)
  & label
    display: flex
    align-items: center
    cursor: pointer
  & .checkbox-circle
    display: block
    width: 14px
    height: 14px
    @include border-radius(50%)
    @include borber($Silver)
    margin-right: 10px

.product-content-items
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  padding: 0
  & .product-slider-slide-container
    width: 33%
  & .product-slide-price
    width: 100%
  & .product-slide-btn
    padding: 10px 36px

.product-slide-block
  text-align: center
  width: 70%

.product-content-items.string
  & .product-slider-slide-container
    width: 100%
  & .product-slider-slide
    flex-direction: row
    padding: 0
  & .product-slide-img
    width: 20%
  & .product-slide-name
    width: 35%
  & .product-slide-price
    width: 40%
    margin-left: auto
    margin-right: auto
    padding: 5px
  & .product-slide-block
    border-left: 1px solid $Alto
    padding-bottom: 17px
    width: 45%

.product-content-pagination
  display: flex
  margin-left: auto
  margin-right: 15px
  margin-top: 32px

.pagination-item
  margin-left: 20px
  &:first-child .pagination-link, &:last-child .pagination-link
    background-color: $Apple
    color: $White

.pagination-link
  position: relative
  display: block
  padding: 10px 16px
  margin-left: -1px
  @include borber(#dee2e6)
  @include border-radius(5px)
  &:hover, &:focus, &:active
    box-shadow: 0px 6px 18px rgba(52,52,52,0.2)

.product-description
  background-color: $Alabaster
  padding-top: 53px
  padding-bottom: 53px

.product-description-background
  background-color: $White
  padding-left: 24px
  padding-right: 24px
  padding-bottom: 63px

.product-description-title
  color: $Black
  display: inline-flex
  align-items: center
  padding: 60px 0
  width: 100%
  & .product-description-title-block
    display: inline-flex
    align-items: center
    width: 100%
    margin-right: -80px

.product-description-content
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap

.product-description-text
  width: 55%

.product-description-img
  width: 35%
  min-height: 350px
  background-repeat: no-repeat
  background-size: cover