@mixin font-face($name, $path, $weight: 400,  $style: normal)
  @font-face
    font-family: quote($name)
    src: url($path)
    font-weight: $weight
    font-style: $style

@include font-face(OpenSans, '../fonts/OpenSans-Regular.ttf')
@include font-face(OpenSans, '../fonts/OpenSans-Light.ttf', 300)
@include font-face(OpenSans, '../fonts/OpenSans-Semibold.ttf', 600)
@include font-face(OpenSans, '../fonts/OpenSans-Bold.ttf', 700)
@include font-face(OpenSans, '../fonts/OpenSans-ExtraBold.ttf', 800)
@include font-face(OpenSans, '../fonts/OpenSans-Italic.ttf', 400, italic)
@include font-face(OpenSans, '../fonts/OpenSans-LightItalic.ttf', 300, italic)
@include font-face(OpenSans, '../fonts/OpenSans-SemiboldItalic.ttf', 600, italic)
@include font-face(OpenSans, '../fonts/OpenSans-BoldItalic.ttf', bold, italic)
@include font-face(OpenSans, '../fonts/OpenSans-ExtraBoldItalic.ttf', 800, italic)



