@import "fonts"
@import "ruls"
//Project Fonts

$OpenSans: 'OpenSans', sans-serif

//Project Typography

html, body
  font-family: $OpenSans
  line-height: 1.2
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6
  margin: 0
h1,.h1
  font-size: 36px
h2,.h2
  font-size: 26px
h3,.h3
  font-size: 18px
h4,.h4
  font-size: 16px
h5,.h5
  font-size: 15px
h6,.h6
  font-size: 14px
.lead
  font-size: 16px
  line-height: 1.5
a
  outline: none
  color: inherit
  &:hover, &:focus, &:active
    color: inherit
    text-decoration: none

ul
  margin: 0
  padding: 0
  li
    list-style-type: none

*
  &:hover, &:active, &:focus
    outline: none

.breadcrumbs-nav
  display: flex
  flex-wrap: wrap
  padding: 28px 0
  & .breadcrumbs-nav-item
    font-size: 15px
    color: $Mine_Shaft
    & svg
      color: $Lilac_Bush
      margin-right: 10px
    &::after
      content: "/"
      padding: 0 5px
    &.active
      color: $Oslo_Gray

.BTN
  color: $White
  background-color: $Apple
  font-size: 16px
  letter-spacing: 0px
  line-height: 40px
  font-weight: bold
  text-align: center
  @include border-radius()
  &:hover, &:focus, &active
    color: $White
    cursor: pointer
    background-color: $Olive_Drab
    box-shadow: 0 0 0 transparent

.BTN.delete
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  top: 11px
  right:  11px
  width: 18px
  height: 18px
  @include border-radius(20px)
  font-size: 10px
  line-height: 21px

.BTN
  &.white
    color: $Apple
    background-color: $White
    @include borber($Apple)
    font-weight: normal
    &:hover, &:focus, &:active
      color: $White
      background-color: $Olive_Drab



.decor-circle
  background-color: $Lilac_Bush
  display: block
  width: 14px
  height: 14px
  @include border-radius(50%)
  padding-top: 2px
  padding-left: 2px
  margin-left: 9px
  &::before
    content: " "
    width: 4px
    display: block
    height: 4px
    background-color: $White
    @include border-radius(50%)

.decor-dashed
  width: 100%
  border-bottom: 1px dashed $Lilac_Bush

/*GO TOP*/
.go_top_block
  position: fixed
  cursor: pointer
  right: 30px
  top: 50%
  text-align: center
  height: 87px
  display: none

.go_top_block > p
  font-size: 14px
  letter-spacing: 1px
  line-height: 30px
  color: $Apple
  text-align: center

.go_top_btn
  width: 36px
  height: 53px
  border-radius: 18px
  background-color: $Apple
  border: 2px solid transparent
  margin: auto
  &::after
    content: ' '
    display: inline-block
    position: absolute
    background: url(../img/go_top.png)
    background-repeat: no-repeat
    width: 15px
    height: 15px
    right: 35%
    top: 18px
  &:hover , &:focus
    background-color: $Olive_Drab
    border: 2px solid transparent
    & +p
      color: $Olive_Drab

.header-top
  border-bottom: 1px dashed $Lilac_Bush
  .header-top-menu
    display: inline-block

.header-top a
  display: block
  font-size: 14px
  color: $Mine_Shaft
  text-align: right
  padding: 20px 0 15px 0

.header-top-menu.right
  float: right
.header-top-menu-item
  display: inline-block
  right: 0
  margin-right: 40px

.header-top-menu svg
  font-size: 14px
  color: $Lilac_Bush
  margin-right: 10px

.header-top-menu-item.phone svg
  transform: rotate(90deg)

.header-top-menu-item.lang
  margin-right: 0
  position: relative
  & .passive-lang
    position: absolute
    padding: 5px 0
    display: none
  &:hover, &:focus
    & svg
      @include transform(rotate(#{180}deg))
      transition: .4s
    & .passive-lang, & .passive-lang > span
      display: block
      z-index: 10
      & svg
        display: none

.header-top-menu-item.lang svg
  margin-right: 0
  margin-left: 4px


.header-top-menu-item
  &:hover, &:focus, &:active
    color: $Dove_Gray
    & svg
      color: $Moon_Raker

.header-main
  padding: 20px 0

.header-main-item.search form
  display: inline-block
  position: relative
  width: 100%
  max-width: 530px

.header-main-item.search .search-field
  width: 100%
  height: 45px
  @include border-radius()
  background-color: $White
  border: 1px solid $Alabaster
  padding-left: 21px
  padding-right: 53px

.header-main-item.search .BTN
  width: 53px
  height: 44px
  border-top-left-radius: 0px
  border-bottom-left-radius: 0px
  border: none
  position: absolute
  top: 0
  right: 0
  background-image: url("../img/search-solid.png")
  background-repeat: no-repeat
  background-size: 15px
  background-position: center

//.header-main-item.search svg
//  position: absolute
//  top: 34%
//  right: 20px
//  color: $White

.header-main-item.basket
  position: relative
  text-align: end

.header-main-item.basket .basket-img
  display: inline-block
  &:hover, &:focus, &active
    cursor: pointer

.header-main-item.basket .basket-item-count
  display: inline-block
  text-align: center
  @include border-radius(50%)
  padding-top: 2px
  font-size: 15px
  line-height: 14px
  @include overflow()
  color: $White
  font-weight: bold
  background-color: $Apple
  width: 18px
  height: 18px

.header-main-item.basket .basket-items
  display: none
  position: absolute
  right: 0
  z-index: 10
  width: 272px
  background-color: $White
  box-shadow: 0px 7px 16px rgba(48,48,48,0.21)

.header-main-item.basket
  &:hover .basket-items
    display: block

//.basket-items .basket-items-item-box
//  box-shadow: 0px 7px 16px rgba(48,48,48,0.21)

.basket-items .basket-items-item
  display: inline-flex
  justify-content: space-around
  align-items: center
  position: relative
  width: 100%
  padding: 12px 84px 12px 0
  font-size: 15px
  line-height: 19px
  color: $Mine_Shaft
  box-shadow: 0px 7px 16px rgba(48,48,48,0.21)

.basket-items .basket-items-item-img
  margin: 0 16px

.basket-items .basket-items-item-info span
  font-size: 16px
  line-height: 12px
  color: $Mine_Shaft
  font-weight: bold
  text-align: right


.basket-items .basket-items-price
  display: inline-flex
  justify-content: space-around
  align-items: center
  width: 100%
  height: 68px
  box-shadow: 0px 1px 1px rgba(48,48,48,0.21)
  font-size: 15px
  color: $Black
  & .sum
    @include overflow()

.basket-items .basket-items-btn
  display: inline-flex
  justify-content: center
  align-items: center
  bottom: 0
  width: 100%
  padding: 13px 0
  & .BTN
    @include border-radius(0px)
    padding: 0 30px

.header-filter-background
  font-size: 16px
  color: $White
  font-weight: 800
  background-color: $Apple
  padding: 10px 0
  @include border-radius(10px)
  border-bottom-left-radius: 0px
  border-bottom-right-radius: 0px

.header-filter-container
  display: flex
  flex-wrap: wrap

.header-filter-item
  display: inline-flex
  justify-content: center

.switch
  position: relative
  display: inline-flex
  width: 46px
  height: 24px
  margin: 0 0 0 10px
  border: 2px solid $White
  @include border-radius(34px)

.switch input
  display: none

.slider
  position: absolute
  cursor: pointer
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #ccc
  -webkit-transition: .4s
  transition: .4s
  &:before
    position: absolute
    content: ""
    height: 18px
    width: 18px
    left: 1px
    bottom: 1px
    background-color: $White
    -webkit-transition: .4s
    transition: .4s

input:checked + .slider
  background-color: $Pear
  &:before
    @include transform(translate(22px))

input:focus + .slider
  box-shadow: 0 0 1px $Pear

/* Rounded sliders */
.slider.round
  border-radius: 34px
  &:before
    border-radius: 50%

.header-nav
  background-color: $Lilac_Bush

.header-mobile-nav, .header-mobile-filter, .product-mobile-filter
  display: none
  justify-content: space-between
  margin: 0 21px
  padding: 20px 0
  font-size: 15px
  color: $White
  font-weight: bold
  text-transform: uppercase
  transition: .4s
  & svg
    font-size: 20px
    transition: .4s
  & .fa-minus
    display: none
  &.opened
    & .fa-plus
      display: none
    & .fa-minus
      display: block
    & .fa-chevron-down
      @include transform(rotate(#{180}deg))

.header-mobile-filter
  padding: 10px 0

.header-mobile-search
  display: flex
  justify-content: center
  align-items: center
  color: $White
  width: 52px
  height: 43px
  background-color: $Apple
  @include border-radius()

.header-nav-menu
  display: flex
  position: relative
  & li.header-nav-menu-group
    display: inline-flex
    flex-direction: column
    justify-content: center
    text-align: center
    font-size: 15px
    line-height: 14px
    color: $White
    font-weight: bold
    width: 100%
    padding: 12px 0
    border-left: 1px solid $White
    &:last-child
      border-right: 1px solid $White
    & a
      &:hover, &:focus, &active
        cursor: pointer

.header-nav-menu-group-block
  display: none
  flex-wrap: wrap
  position: absolute
  top: 100%
  background-color: $Lilac_Bush
  @include borber($White)
  -webkit-box-shadow: 2px 2px 4px $White
  -moz-box-shadow: 2px 2px 4px $White
  box-shadow: 2px 2px 4px $White
  padding-top: 30px
  z-index: 8

.header-nav-menu-group:hover .header-nav-menu-group-block
  display: inline-flex

.header-nav-menu-item
  position: relative
  flex: 33%
  min-width: 33%
  max-width: 33%
  flex-wrap: wrap
  line-height: 19px
  & > div
    padding: 0 137px 30px 25px
    text-align: left
    font-size: 15px
    color: $White
    font-weight: bold
    text-transform: uppercase

.header-nav-menu-item svg
  position: absolute
  top: 0
  right: 115px
  transition: .4s
  cursor: pointer

.header-nav-menu-item-info
  display: none
  font-size: 15px
  line-height: 19px
  font-weight: normal
  color: $White
  text-align: left
  padding-left: 30px
  padding-bottom: 30px

.header-nav-menu-item.opened svg
  transform: rotate(180deg)

.header-nav-menu-item-subinfo
  padding-left: 20px

.main-slider
  width: 100%
  padding-bottom: 60px

.main-slider-slide
  position: relative
  padding-bottom: 370px
  width: 100%
  background-size: cover
  background-position: right bottom
  box-shadow: 0px 3px 7px rgba(0,0,0,0.35)

.main-slider-container
  width: 100%
  height: 100%

.main-slider-content
  position: absolute
  bottom: 0
  padding-left: 100px
  padding-bottom: 80px
  line-height: 40px

.main-slider-text
  font-size: 36px
  color: $White
  font-weight: 800
  margin-bottom: 30px
  & .h1
    font-weight: 800
  & .h2
    font-weight: 300

.main-slider-sail
  display: inline-flex
  & .h2
    font-size: 23px
  & .sail-sum
    font-size: 56px
    line-height: 50px

.main-slider-btn
  padding: 13px 31px
  @include borber($Lime, solid, 2px)

.main-slider-slick_arrow
  z-index: 6
  position: absolute
  top: 40%
  color: $White
  @include borber($White)
  @include border-radius(50%)
  width: 40px
  height: 40px
  display: flex
  justify-content: center
  align-items: center
  &.prev
    left: 9%
  &.next
    right: 9%
  &:hover, &:focus
    cursor: pointer
.slick-dots
  bottom: 36px

.slick-dots li button
  width: 22px
  height: 22px
  cursor: pointer
  color: transparent
  background: transparent


li.slick-active button
  @include borber($White, solid, 2px)
  @include border-radius(50%)
  border-top: 0px solid transparent
  border-right: 0px solid transparent

.slick-dots li button:before
  width: 8px
  height: 8px
  content: ''
  opacity: 1
  margin: 7px
  background-color: $White
  @include border-radius(50%)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.product-slider-name
  text-transform: uppercase
  color: $Black
  display: inline-flex
  align-items: center
  padding: 19px 0
  & h4
    font-size: 16px
    letter-spacing: 0px
    font-weight: 800

.product-slider
  padding-bottom: 34px
  & .slick-slider
    margin: 0 -15px

.product-slider-slide-container
  padding: 10px 15px

.slick_arrow
  z-index: 6
  position: absolute
  top: 40%
  color: $Lilac_Bush
  @include border-radius(50%)
  display: flex
  justify-content: center
  align-items: center
  width: 53px
  height: 53px
  box-shadow: 0px 9px 9px rgba(0,0,0,0.15)
  background-color: $White
  &.prev
    left: -15px
  &.next
    right: -15px
  &:hover, &:focus
    cursor: pointer

.product-slider-slide
  display: flex
  flex-direction: column
  align-items: center
  border-radius: 5px
  background-color: $White
  box-shadow: 0px 6px 20px rgba(0,0,0,0.1)
  @include borber(transparent)
  padding-bottom: 17px
  transition: .4s
  &:hover, &:focus
    box-shadow: none
    @include borber($Mystic, solid, 1px)

.product-slide-img img
  width: 100%

.product-slide-name
  height: 40px
  overflow: hidden
  padding: 0 15px
  font-size: 15px
  line-height: 19px
  color: $Mine_Shaft
  text-align: center

.product-slide-price
  width: 80%
  font-size: 24px
  letter-spacing: 0
  line-height: 40px
  text-align: center
  color: $Mine_Shaft
  font-weight: bold
  margin-top: 15px
  border-top: 1px solid $Mystic
  @include overflow()
  & span
    color: $Dove_Gray
    font-size: 14px

.product-slide-btn
  padding: 0 36px

.background-75
  background: linear-gradient(0deg, $Alabaster 75%, transparent 25%)

.info-slider-name
  text-transform: uppercase
  color: $Black
  display: inline-flex
  align-items: center
  padding: 19px 0
  & h4
    font-size: 16px
    letter-spacing: 0px
    font-weight: 800

.info-slider
  padding-bottom: 49px
  background-color: $Alabaster
  & .info-slider-container
    margin: 0 -15px
    padding-top: 26px
    padding-bottom: 49px
    display: inline-flex
    justify-content: center
    flex-wrap: wrap

.info-slider-slide
  display: flex
  flex-direction: column
  align-items: center
  width: 25%
  padding: 0 30px
  & .info-slide-content
    text-align: center
    margin-top: 33px

.info-slide-img a
  display: block
  width: 85px
  height: 85px
  box-shadow: 0 21px 20px $Alto
  @include border-radius(50%)
  background-color: $Lilac_Bush
  background-repeat: no-repeat
  background-position: center
  transition: .4s
  &:hover, &:focus
    background-color: $Studio
    box-shadow: 0 0 0 transparent

.info-slide-name
  font-size: 16px
  color: $Black
  font-weight: bold
  text-transform: uppercase

.info-slide-text
  font-size: 15px
  color: $Pale_Sky
  font-weight: 300
  margin-top: 10px

.more-info
  display: flex
  & .BTN
    padding: 0 36px

footer
  background-color: $Shark
  padding-top: 65px
  background-image: url("../img/footer-bg-img.png")
  background-repeat: no-repeat
  background-size: cover
  background-position: center 88%

.footer-container
  justify-content: space-between


.footer-description
  margin-top: 15px
  padding-right: 15px
  font-size: 14px
  line-height: 24px

.footer-content
  color: $White
  &.contacts
    margin-left: -60px

.footer-content-title
  font-size: 18px
  letter-spacing: 0px
  font-weight: bold
  & .fa-plus, & .fa-minus
    display: none
    margin-left: 20px

.footer-menu
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  & .footer-menu-item
    max-width: 45%
    min-width: 35%

.footer-content-item
  position: relative
  font-size: 15px
  margin-top: 24px
  width: 264px
  & a
    &:hover, &:focus, &:active
      color: $Olive_Drab

.footer-content-contact
  margin-top: 10px
  line-height: 42px

.footer-email-input
  padding-left: 14px
  padding-right: 78px
  width: 100%
  height: 35px
  background-color: #32353e
  color: $Manatee
  border: none

.footer-email-submit
  position: absolute
  top: 0
  right: 0
  color: $White
  line-height: 20px
  font-weight: bold
  padding: 0 26px
  height: 100%
  background-color: $Apple
  @include borber($Lime, solid, 2px)
  @include border-radius(3px)
  border-top-left-radius: 0
  border-bottom-left-radius: 0

.footer-social svg
  margin-right: 28px
  font-size: 26px
  color: $Lilac_Bush

.footer-copyright
  background-color: $Lilac_Bush
  padding: 5px 0
  margin-top: 78px
  font-size: 16px
  line-height: 30px
  color: $White
  text-align: center