@import "ruls"

.item-container
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.item-container-content
  display: flex
  flex-wrap: wrap

.item-container-galery
  width: 430px
  & .slider-for
    height: 366px
    overflow: hidden
    @include borber($Mystic)
    @include border-radius()
  & .slider-nav
    margin-left: -10px
    margin-right: -10px
    & .slick-slide
      display: flex
      justify-content: center
      align-items: center
      overflow: hidden
      margin: 0 10px
      margin-top: 30px
      width: 110px
      height: 110px
      @include borber($Mystic)
      @include border-radius()
  & .slick-arrow
    top: -55%
    &.prev
      left: 25px
    &.next
      left: 100px

.item-container-info
  margin-left: 30px
  width: 430px
  & .item-container-name
    font-size: 18px
    letter-spacing: 0px
    line-height: 20px
    color: $Black
    font-weight: bold
    margin-bottom: 20px
  & .item-container-availability
    font-size: 16px
    line-height: 20px
    color: $Lime
    margin-bottom: 20px
  & .item-container-price
    font-size: 22px
    letter-spacing: 0px
    font-weight: 300
    margin-bottom: 20px
    & span
      font-size: 30px
      color: $Lilac_Bush
      font-weight: bold
  & .item-container-brand
    font-size: 16px
    line-height: 24px
    margin-bottom: 38px
    & a
      text-decoration: underline
  & .item-container-btn
    margin-top: 27px
    & .BTN
      padding: 15px 72px
    & .BTN.white
      padding: 15px 55px
  & .item-container-credit
    margin-top: 30px
    padding: 46px 0
    & a
      color: $Apple

.item-container-function
  border-radius: 7px
  @include borber($Alto)
  display: flex
  flex-direction: column
  align-items: center
  flex-wrap: wrap
  padding: 0 35px

.function-block
  padding: 15px 0
  & .function-img, & .function-name
    display: block
    text-align: center
    &:hover, &:hover + .function-name , &:focus, &:focus + .function-name
      color: $Olive_Drab

.item-description
  margin-top: 50px
  margin-bottom: 40px
  @include borber($Alto)
  @include border-radius()
  & .nav-tabs
    margin: 0 15px
    & li
      margin-right: 66px
      font-size: 18px
      letter-spacing: 0px
      color: $Black
      font-weight: bold
      padding: 17px 0
      & > a
        padding: 17px 0
        &.active
          border-bottom: 3px solid $Lime
  & .tab-content
    margin: 0px 15px
    & .allotment
      font-size: 16px
      line-height: 27px
      color: $Lilac_Bush
      font-weight: bold
    & .tab-pane
      padding-bottom: 55px
      & .item-description-content
        padding-bottom: 40px
        padding-top: 30px
        border-bottom: 1px solid $Alto
        & p
          margin: 0
.product-slider
  margin-bottom: 90px