@import "ruls"

@media screen and (max-width: 1199.98px)
  .background-75
    background: linear-gradient(0deg, $Alabaster 76%, transparent 24%)
  .footer-content.toggle
    & .fa-plus
      display: block
    & .toggle-item
      display: none
  .footer-content.toggle.opened
    & .fa-plus
      display: none
    & .fa-minus
      display: block
  .footer-content-title
    display: flex
    align-items: center
  .footer-content.menu
    order: 1
  .footer-content.contacts
    order: 2
    margin-top: 30px
    margin-left: 0
  .footer-copyright
    margin-top: 25px
  .category-filter
    & .category-filter-item
      width: 29%
      margin-right: 2%
      margin-left: 2%
  .filter-item-price input
    width: 60px
  .item-container-function
    flex-direction: row
    width: 100%
    justify-content: space-between
    margin-top: 30px
  .function-block
    padding: 15px 20px
@media screen and (max-width: 991.98px)
  .header-top-menu-item
    margin-right: 20px
  .header-filter-container
    margin: 0 20px
  .header-filter-item
    margin: 10px 0
    padding: 0
  .header-mobile-nav, .product-mobile-filter
    display: flex
  .container
    max-width: 100%
  .header-filter-background
    border-top-left-radius: 0px
    border-top-right-radius: 0px
  .header-nav-menu
    display: none
  .header-nav-menu li.header-nav-menu-group, .header-nav-menu li.header-nav-menu-group:last-child
    border: none
  .header-nav-menu-group:hover .header-nav-menu-group-block
    display: none
  .main-slider-container
    max-width: 100%
  .main-slider-content
    padding-left: 0
  .product-slider .slick-slider
    padding: 0 150px
  .slick_arrow.next
    right: 135px
  .slick_arrow.prev
    left: 135px
  .product-filter-container
    display: none
  .product-filter-item
    padding-left: 35px
    padding-right: 35px
  .filter-item-price
    justify-content: center
    & input
      width: 70px
  .product-content-view-interface
    display: none
  .product-content-items
    padding: 0 15%
    &.string
      padding: 0
  .product-content-items .product-slider-slide-container
    width: 50%
  .contact-information
    order: 1
  .cart-items
    margin-bottom: 55px
    padding: 0
  .footer-container
    padding-left: 40px

@media screen and (max-width: 767.98px)
  .background-75
    background: linear-gradient(0deg, $Alabaster 80%, transparent 20%)
  .header-top-menu-item
    & span
      display: none
  .header-top-menu-item.lang
    & span
      display: inline-block
  .header-top a, .header-top-menu svg
    font-size: 20px
  .header-top-menu-item
    margin-right: 24px
  .header-main-item.search
    order: 1
    display: none
  .header-mobile-filter
    display: flex
  .header-filter-container
    display: none
  .info-slider-slide
    width: 50%
    margin-bottom: 30px
  .footer-content.follows
    order: 3
  .footer-content
    &.menu, &.contacts,  &.follows
      margin-top: 30px
  .category-filter .category-filter-item
    width: 31%
    margin-right: 1%
  .product-content-items
    padding: 0 25%
  .product-content-items .product-slider-slide-container
    width: 100%
  .product-content-items.string
    & .product-slide-name
      height: 60px
    & .product-slide-price
      width: 60%
  .product-description-text
    width: 100%
  .product-description-img
    width: 50%
  .item-container-info
    margin-top: 30px
    margin-left: 0
  .item-container-galery
    margin-right: 30px
  .item-container-info .item-container-credit
    padding: 0
  .contact-information-item
    width: 100%

@media screen and (max-width: 575.98px)
  .background-75
    background: linear-gradient(0deg, $Alabaster 85%, transparent 15%)
  .header-top-menu-item
    margin-right: 13px
  .product-slider .slick-slider
    padding: 0 50px
  .slick_arrow.prev
    left: 35px
  .slick_arrow.next
    right: 35px
  .info-slider-slide
    width: 100%
  .category-filter
    margin-right: -3%
    & .category-filter-item
      width: 46%
      margin-right: 3%
  .product-content-items
    padding: 0 15%
  .product-content-items.string
    & .product-slide-name
      width: 45%
    & .product-slide-block
      width: 40%
    & .product-slide-price
      width: 90%
    & .product-slide-btn
      padding: 5px 20px
  .product-description-img
    width: 100%
  .item-container-content, .item-container-galery
    width: 100%
  .item-container-galery .slider-for
    height: 400px
  .item-description .nav-tabs li
    margin-right: 25px
    padding: 10px 0
    & a
      padding: 10px 0
@media screen and (max-width: 430.98px)
  .header-top-menu-item
    margin-right: -5px
  .header-top-menu svg
    margin-right: 20px
  .category-filter
    margin-right: 0
    & .category-filter-item
      width: 50%
      margin-right: 25%
      margin-left: 25%
  .product-content-view
    justify-content: center
  .product-content-items
    padding: 0
  .pagination-item
    margin-left: 10px
  .item-container-galery .slider-for
    height: 366px
  .nav-tabs
    border: none
